/*  T A I L W I N D   C S S  */
@import "tailwindcss";

@theme {
    --color-primary-dark: #1d1d1b;
    --color-primary-bg: #cdc6be;
    --color-primary-orange: #c03f13;
    --color-primary-half-drak: #1d1d1b80
}

/*  P U R E   C S S  */

body {
    font-family: var(--font-editorial-light);
    overflow-x: hidden !important;
    transition: 1.8s;
    background-color: #cdc6be !important;
    color: #1d1d1b;
}

.has-cropcat::first-letter {
    color: #cdc6be;
    background-color: #1d1d1b;
    font-size: 2.25vw;
    line-height: 2.7vw;
    text-align: end;
    padding: 1vw .4vw 1vw .5vw;
    margin: .7vw 1vw 0vw 0vw;
    font-family: var(--font-canopee) !important;
    font-feature-settings: "ss03";
    float: left;
    font-size: 80px;
}

.editorial-bold { font-family: var(--font-editorial-bold); }

.canopee { font-family: var(--font-canopee); }

.h1{ padding: 4.5vw 1vw 1vw; }

.creator { font-family: var(--font-editorial-light);}

.bg-paper {
    background: url('../../public/image/paper-bg.jpg');
    z-index: 55;
    opacity: .3;
    background-position: 50%;
    background-size: auto;
    position: absolute;
    inset: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
    will-change: transform;
}

.wrapper { padding: 4vh 2vw;}

.test {
    color: #1d1d1b80;
}