/*  T A I L W I N D   C S S  */
@import "tailwindcss";

@theme {
    --color-primary-dark: #1d1d1b;
    --color-primary-bg: #cdc6be;
    --color-primary-orange: #c03f13;
    --color-primary-half-drak: #1d1d1b80
}

/*  P U R E   C S S  */

body {
    font-family: var(--font-editorial-light);
    overflow-x: hidden !important;
    transition: 1.8s;
    background-color: #cdc6be !important;
    color: #1d1d1b;
}

.editorial-bold { font-family: var(--font-editorial-bold); }

.creator { font-family: var(--font-editorial-light);}

.bg-paper {
    background: url('../../public/image/paper-bg.jpg');
    z-index: 55;
    opacity: .3;
    background-position: 50%;
    background-size: auto;
    position: absolute;
    inset: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
    will-change: transform;
}

.wrapper { padding: 4vh 2vw;}

.test {
    color: #1d1d1b80;
}